<div class='panel panel-default'>
  <div class='panel-heading'>
    <strong>Base Combinations</strong>
  </div>

  <table class='table table-bordered table-hover table-condensed'>
    <thead>
      <!-- <tr> -->
      <!--   <th colspan="3"></th> -->
      <!--   <th colspan="5">Exemplar</th> -->
      <!-- </tr> -->
      <tr>
        <th class='header' data-header-name='sequence'>Sequence</th>
        <th class="header" data-header-name='idi'>Isostericity Group</th>
        <th class="header" data-header-name='count'>Non-Redundant Count</th>
        <th class="header" data-header-name='pdb'>Exemplar PDB</th>
        <th class="header" data-header-name='resolution'>Exemplar Resolution</th>
        <th class='header' data-header-name='model'>Exemplar Model</th>
        <th class='header' data-header-name='chains'>Exemplar Chains</th>
        <th class='header' data-header-name='numbers'>Exemplar Numbers</th>
        <th class='header' data-header-name='symmetry'>Exemplar Symmetry Operators</th>
      </tr>
    </thead>

    <tbody>
      {{#each items}}
      <tr id='{{id}}' class='jmol-toggle {{class}}' data-sequence='{{sequence}}'
        data-pdb-url={{pdb_url}}>
        <td class='sequence-cell'>{{sequence}}</td>
        <td>{{group}}</td>
        <td>{{count}}</td>
        <td>{{pdb}}</td>
        <td>{{resolution}}</td>
        <td>{{model}}</td>
        <td>{{chains}}</td>
        <td>{{numbers}}</td>
        <td>{{sym_op}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
