<div class='panel panel-default'>
  <div class='panel-heading'>
    <strong>Base Combinations</strong>
  </div>

  <table class='table table-bordered table-hover table-condensed'>
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Isostericty Group</th>
        <th>Count</th>
        <th>PDB</th>
        <th>Resolution</th>
        <th>Nucleotides</th>
      </tr>
    </thead>

    <tbody>
      {{#each items}}
      <tr id='{{id}}' class='jmol-toggle {{class}}' data-sequence='{{sequence}}'
        data-pdb-url={{pdb_url}}>
        <td class='sequence-cell'><i class="fa {{icon}}"></i>&nbsp;{{sequence}}</td>
        <td>{{group}}</td>
        <td>{{count}}</td>
        <td>{{pdb}}</td>
        <td>{{resolution}}</td>
        <td>{{nts}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
