<div class='panel panel-default'>
  <div class='panel-heading'>
    <strong>Base Combinations</strong>
  </div>

  <table class='table table-bordered table-hover table-condensed'>
    <thead>
      <tr>
        <th class='header' data-header-name='sequence'>Sequence</th>
        <th class="header" data-header-name='idi'>Isostericity Group</th>
        <th class="header" data-header-name='count'>Non-Redundant Count</th>
        <th class="header" data-header-name='pdb'>PDB</th>
        <th class="header" data-header-name='resolution'>Resolution</th>
        <th class='header' data-header-name='exemplar'>Exemplar Unit Ids</th>
      </tr>
    </thead>

    <tbody>
      {{#each items}}
      <tr id='{{id}}' class='jmol-toggle {{class}}' data-sequence='{{sequence}}'
        data-pdb-url={{pdb_url}}>
        <td class='sequence-cell'>{{sequence}}</td>
        <td>{{group}}</td>
        <td>{{count}}</td>
        <td>{{pdb}}</td>
        <td>{{resolution}}</td>
        <td>{{nts}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
